<h1>Interactive: U.S. State and County Coronavirus Stats Over&nbsp;Time</h1>
<time>Last Updated: <%= Timex.format!(@last_update, "{Mfull} {D}, {YYYY} at {h12}:{m} {AM} {Zabbr}") %></time>

<p>Pairing daily data from <a href="https://github.com/nytimes/covid-19-data">The New York Times</a> and <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins CSSE</a>, the following visualizations track COVID-19 cases by U.S. state and county. Each metric can be optionally scaled to population, limited to new instances, and animated over&nbsp;time.</p>

<%= live_render(@socket, RonaWeb.USAMapLive, id: "map") %>

<h2>Daily Stats Per State</h2>
<p>
  Select a state to view a larger map and per-county&nbsp;data.
  <span class="has-swatch">
    <span class="swatch"><span style="background: rgb(168, 194, 221)"></span>Cases</span>
    <span class="swatch"><span style="background: rgb(136, 68, 157)"></span>Deaths</span>
  </span>
</p>

<div class="layout-breakout">
  <ul class="has-chart">
    <%= for state <- @states do %>
      <li><%= live_render(@socket, RonaWeb.StateChartLive, id: state.fips, session: %{"state" => state, "dates" => @dates, "max_value" => @max_value}) %></li>
    <% end %>
  </ul>
</div>
