<h1>Interactive: U.S. State and County Coronavirus Stats Over Time</h1>
<time>Last Updated: <%= Timex.format!(@last_update, "{Mfull} {D}, {YYYY} at {h12}:{m} {AM} {Zabbr}") %></time>

<p>Pairing daily data from <a href="https://github.com/nytimes/covid-19-data">The New York Times</a> and <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins CSSE</a>, the following visualizations track COVID-19 cases by U.S. state and county. Each metric can be optionally scaled to population, limited to new instances, and animated over&nbsp;time.</p>

<%= live_render(@conn, RonaWeb.USAMapLive) %>

<%= for state <- @states do %>
  <%= link(state.name, to: "/#{state.fips}") %>
 |
<% end %>
