<div class="layout-back">
  <a href="/">&lsaquo; Full U.S. Map</a>
</div>
<h1><%= @state.name %>: County Coronavirus Stats Over&nbsp;Time</h1>
<time>Last Updated: <%= Timex.format!(@last_update, "{Mfull} {D}, {YYYY} at {h12}:{m} {AM} {Zabbr}") %></time>

<p>Pairing daily data from <a href="https://github.com/nytimes/covid-19-data">The New York Times</a> and <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins CSSE</a>, the following visualizations track COVID-19 cases by <%= @state.name %> county. Each metric can be optionally scaled to population, limited to new instances, and animated over&nbsp;time.</p>

<%= live_render(@socket, RonaWeb.USAMapLive, id: "map", session: %{"fips" => @state.fips}) %>

<h2>Statewide Totals</h2>
<p>
  Cumulative and daily&nbsp;totals.
</p>

<div class="layout-breakout">
  <ul class="has-chart has-chart--2">
    <li><%= live_render(@socket, RonaWeb.TrendChartLive, id: "testing", session: %{"state" => "#{@state.fips}", "title" => "Testing", "field" => "tested", "start_date" => "#{@start_date}", "end_date" => "#{@end_date}", "percent" => "testing_rate", "percent_label" => "of state population"}) %></li>
    <li><%= live_render(@socket, RonaWeb.TrendChartLive, id: "confirmed", session: %{"state" => "#{@state.fips}", "title" => "Confirmed Cases", "field" => "confirmed", "start_date" => "#{@start_date}", "end_date" => "#{@end_date}", "percent" => "positive_rate", "percent_label" => "of people tested"}) %></li>
  </ul>
  <ul class="has-chart has-chart--2">
    <li><%= live_render(@socket, RonaWeb.TrendChartLive, id: "hospitalizations", session: %{"state" => "#{@state.fips}", "title" => "Hospitalizations", "field" => "hospitalized", "start_date" => "#{@start_date}", "end_date" => "#{@end_date}", "percent" => "hospitalization_rate", "percent_label" => "of confirmed cases"}) %></li>
    <li><%= live_render(@socket, RonaWeb.TrendChartLive, id: "deaths", session: %{"state" => "#{@state.fips}", "title" => "Deaths", "field" => "deceased", "start_date" => "#{@start_date}", "end_date" => "#{@end_date}", "percent" => "death_rate", "percent_label" => "of confirmed cases"}) %></li>
  </ul>
</div>

<h2>Stats Per County</h2>
<p>
  Daily totals for counties with the most&nbsp;cases.
  <span class="has-swatch">
    <span class="swatch"><span style="background: rgb(137, 209, 188)"></span>Cases</span>
    <span class="swatch"><span style="background: rgb(0, 69, 27)"></span>Deaths</span>
  </span>
</p>

<div class="layout-breakout">
  <ul class="has-chart">
    <%= for county <- @counties do %>
      <li><%= live_render(@socket, RonaWeb.CountyChartLive, id: county.fips, session: %{"county" => "#{county.fips}", "start_date" => "#{@start_date}", "end_date" => "#{@end_date}", "max_value" => @max_value}) %></li>
    <% end %>
  </ul>
</div>
