<a class="layout-back" href="/">&larr; Back to U.S.</a>
<h1><%= @state.name %>: County Coronavirus Stats Over Time</h1>
<time>Last Updated: <%= Timex.format!(@last_update, "{Mfull} {D}, {YYYY} at {h12}:{m} {AM} {Zabbr}") %></time>

<p>Pairing daily data from <a href="https://github.com/nytimes/covid-19-data">The New York Times</a> and <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins CSSE</a>, the following visualizations track COVID-19 cases by <%= @state.name %> county. Each metric can be optionally scaled to population, limited to new instances, and animated over&nbsp;time.</p>

<%= live_render(@conn, RonaWeb.USAMapLive, session: %{"fips" => @state.fips}) %>

<h2>Stats Per County</h2>
<p>Text about data.</p>

<ul class="chart-grid">
  <%= for county <- @counties |> Enum.sort_by(& List.last(Enum.sort_by(&1.reports, fn r -> r.date end)).confirmed_delta) |> Enum.reverse() do %>
    <li><%= live_render(@conn, RonaWeb.CountyChartLive, session: %{"county" => county}) %></li>
  <% end %>
</ul>
