/* This file is for your main application css. */

@import "./normalize.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

/* *************************************
  Base
************************************* */

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
@media (min-width: 40em) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 80em) and (min-height: 50em) {
  html {
    font-size: 20px;
  }
}

body {
  color: #333;
  font: normal 100%/1.6rem 'IBM Plex Serif', serif;
}

.phx-disconnected::after {
  border-bottom-color: #111;
  z-index: 20;
}
.phx-disconnected::before {
  background-color: rgba(240, 240, 240, .9);
  position: fixed;
  z-index: 10;
}

/* ----- Headings ----- */

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 2.4rem;
  margin: 0 0 0.4rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5157em;
  font-weight: bold;
  line-height: 1.6rem;
  margin: 0 0 0.4rem;
}

h3 {
  font-size: 0.7579em;
  font-weight: bold;
  line-height: 1.2rem;
  margin: 0 0 0.4rem;
}
@media (min-width: 25em) {
  h3 {
    font-size: 0.8706em;
  }
}
@media (min-width: 30em) {
  h3 {
    margin: 0 0 0.8rem;
  }
}
@media (min-width: 80em) {
  h3 {
    font-size: 1em;
  }
}

/* ----- Markup ----- */

a {
  color: #111;
}
a:hover,
a:focus {
  color: rgb(99, 107, 153);
}

p {
  margin: 0 0 1.6rem;
}

time {
  color: #555;
  display: block;
  font-size: 0.7579em;
  line-height: 1.2rem;
  margin-bottom: 1.6rem;
}

/* ----- Media ----- */

svg {
  display: block;
  max-width: 100%;
  width: 100%;
}

/* *************************************
  Chart
************************************* */

.chart {
  /* background: #f5f5f5; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  grid-column-end: span 1;
  padding: 0.4rem;
  text-align: center;
}
a.chart {
  background: rgba(135, 160, 187, 0.08);
  /* border: 1px solid transparent; */
  text-decoration: none;
}
a.chart .chart-footer {
  background: rgba(135, 160, 187, 0.1);
}
a.chart:hover,
a.chart:focus {
  border-color: rgb(99, 107, 153);
}
@media (min-width: 30em) {
  .chart {
    padding: 0.8rem;
  }
}

/* ----- Context ----- */

.has-chart {
  column-gap: 0.4rem;
  display: grid;
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
  row-gap: 0.4rem;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 25em) {
  .has-chart {
    column-gap: 0.8rem;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
    row-gap: 0.8rem;
  }
}
@media (min-width: 40em) {
  .has-chart {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 60em) {
  .has-chart {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Modifiers */

.has-chart--2 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 50em) {
  .has-chart--2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ----- Subcomponents ----- */

.chart-footer {
  align-items: center;
  background: rgba(0, 0, 0, 0.03);
  font-family: 'Roboto', sans-serif;
  font-size: 0.6599em;
  line-height: 1.2rem;
  margin: 0.4rem -0.4rem -0.4rem;
  padding: 0.2rem 0.4rem;
}
.chart-footer span {
  border-bottom: 2px solid;
}
@media (min-width: 30em) {
  .chart-footer {
    margin: 0.4rem -0.8rem -0.8rem;
  }
}

.chart .domain {
  display: none;
}
.chart .tick line {
  stroke: #333;
}
.chart-xaxis text {
  text-anchor: end;
}
.chart-yaxis text {
  text-anchor: start;
}
.chart-yaxis g:first-of-type text {
  transform: translateY(-0.4rem);
}
.chart-yaxis g:last-of-type text {
  transform: translateY(0.4rem);
}

/* *************************************
  Form
************************************* */

.form {
  margin-bottom: -1.8rem;
}

/* ----- Subcomponents ----- */

.form-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 1px solid #bbb;
  border-radius: 0.15rem;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8706em;
  font-weight: bold;
  line-height: 1.6rem;
  padding: calc(0.2rem - 1px) 0;
  width: 7.6rem;
}
.form-button:hover,
.form-button:focus {
  color: rgb(99, 107, 153);
}

.form-checkbox {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.8706em;
}
.form-checkbox:hover,
.form-checkbox:focus {
  color: rgb(99, 107, 153);
}
.form-checkbox > * + * {
  margin-left: 0.4rem;
}

.form-date {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8706em;
  font-weight: bold;
  white-space: nowrap;
}

.form-select {
  display: inline-block;
  position: relative;
}
.form-select::after {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  content: '';
  height: 0.4rem;
  pointer-events: none;
  position: absolute;
  right: 0.8rem;
  top: 0.6rem;
  transform: rotate(45deg);
  width: 0.4rem;
}
.form-select option {
  background: white;
  color: #333;
}
.form-select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 1px solid #bbb;
  border-radius: 0.15rem;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8706em;
  font-weight: bold;
  line-height: 1.6rem;
  padding: calc(0.2rem - 1px) 1.8rem calc(0.2rem - 1px) 0.6rem;
  width: 7.6rem;
}
.form-select select:hover,
.form-select select:focus {
  color: rgb(99, 107, 153);
}

/* *************************************
  Layout
************************************* */

.layout {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 43rem;
  padding: 4rem 1.2rem;
  width: 100%;
}
@media (min-width: 50em) {
  .layout {
    padding: 4rem 2rem;
  }
}
@media (min-width: 60em) {
  .layout {
    padding: 4rem;
  }
}

/* ----- Subcomponents ----- */

.layout-back {
  background: rgba(240, 240, 240, 0.8);
  left: 0;
  padding: 0 0.8rem;
  position: fixed;
  right: 0;
  top: 0;
}
.layout-back a {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8706em;
  font-weight: bold;
  line-height: 2rem;
  text-decoration: none;
}

.layout-breakout {
  margin: 2rem 0 4rem;
}
@media (min-width: 60em) {
  .layout-breakout {
    margin-left: -10vw;
    margin-right: -10vw;
  }
}
.layout-breakout--map {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 4rem;
}

.layout-controls {
  align-items: center;
  display: flex;
  margin: 0.4rem 0;
}
.layout-controls > * + * {
  margin-left: 0.8rem;
}

.layout-footer p {
  color: #555;
  font-size: 0.7579em;
  line-height: 1.2rem;
  margin: 1.6rem 0 0;
  text-align: center;
}

/* *************************************
  Swatch
************************************* */

.swatch {
  color: #555;
  font-size: 0.8706em;
  font-style: italic;
  margin-left: 0.4rem;
}
.swatch span {
  display: inline-block;
  border-radius: 2px;
  height: 0.6rem;
  margin-right: 0.2rem;
  width: 0.6rem;
}

/* ----- Context ----- */

.has-swatch {
  display: inline-block;
  white-space: nowrap;
}

/* *************************************
  Range Madness
************************************* */

input[type=range] {
  -webkit-appearance: none;
  margin-bottom: 18px;
  margin-top: 18px;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #bbb;
  border-radius: 1.3px;
  border: 0;
  cursor: pointer;
  height: 8.4px;
  width: 100%;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #333;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 30px;
  margin-top: -11px;
  width: 16px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(164, 173, 219);
}
input[type=range]::-moz-range-track {
  background: #bbb;
  border-radius: 1.3px;
  border: 0;
  cursor: pointer;
  height: 8.4px;
  width: 100%;
}
input[type=range]::-moz-range-thumb {
  background: #333;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 30px;
  width: 16px;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
  cursor: pointer;
  height: 8.4px;
  width: 100%;
}
input[type=range]::-ms-fill-lower {
  background: #bbb;
  border: 0;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #bbb;
  border: 0;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  background: #333;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 30px;
  width: 16px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgb(164, 173, 219);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgb(164, 173, 219);
}
