<h1>Interactive: U.S. State and County Coronavirus Stats Over Time</h1>
<time>Last Updated: <%= Timex.format!(@last_update, "{Mfull} {D}, {YYYY} at {h12}:{m} {AM} {Zabbr}") %></time>

<p>Pairing daily data from <a href="https://github.com/nytimes/covid-19-data">The New York Times</a> and <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins CSSE</a>, the following visualizations track COVID-19 cases by U.S. state and county. Each metric can be optionally scaled to population, limited to new instances, and animated over&nbsp;time.</p>

<div class="form" id="controls">
  <form phx-change="update_settings">
    <div class="form-select">
      <select name="series">
        <option value="confirmed" <%= if @series == :confirmed, do: "selected", else: "" %>>Total Cases</option>
        <option value="confirmed_delta" <%= if @series == :confirmed_delta, do: "selected", else: "" %>>New Cases</option>
        <option value="deceased" <%= if @series == :deceased, do: "selected", else: "" %>>Total Deaths</option>
        <option value="deceased_delta" <%= if @series == :deceased_delta, do: "selected", else: "" %>>New Deaths</option>
      </select>
    </div>

    <label class="form-checkbox">
      <input name="population_scale" type="checkbox" <%= if @population_scale, do: "checked", else: "" %> />
      <span>Scale by Population</span>
    </label>
  </form>

  <div class="layout-timeline">
    <input class="form-range" id="date-range" type="range" min="0" max="<%= @max_date_index %>" value="<%= @max_date_index %>" phx-hook="DateRange" data-dates="<%= @json_dates %>" />
    <span class="form-date" id="current-date"><%= List.last(@dates) %></span>
    <button class="form-button" id="play" phx-hook="Play">Play</button>
  </div>
</div>

<div class="layout-breakout">
  <div id="map" phx-update="ignore"></div>
  <div id="hook" phx-hook="USAMap" data-target="map" data-mapdata="<%= @map_data %>" data-label="<%= label_for(@series) %>" data-percent="<%= if @population_scale, do: "true", else: "" %>"></div>
</div>

<form phx-change="select_location">
  <select name="state">
    <%= for state <- @states do %>
      <option value="<%= state.id %>" <%= if @selected_state == state.id, do: "selected", else: "" %>><%= state.name %></option>
    <% end %>
  </select>
  <select name="county">
    <%= for county <- @counties do %>
      <option value="<%= county.id %>" <%= if @selected_county == county.id, do: "selected", else: "" %>><%= county.name %></option>
    <% end %>
  </select>
</form>

<%= @location_data %>
