<div class="form" id="controls">
  <form class="layout-controls" phx-change="update_settings">
    <div class="form-select">
      <select name="series">
        <option value="confirmed" <%= if @series == :confirmed, do: "selected", else: "" %>>Total Cases</option>
        <option value="confirmed_delta" <%= if @series == :confirmed_delta, do: "selected", else: "" %>>New Cases</option>
        <option value="deceased" <%= if @series == :deceased, do: "selected", else: "" %>>Total Deaths</option>
        <option value="deceased_delta" <%= if @series == :deceased_delta, do: "selected", else: "" %>>New Deaths</option>
      </select>
    </div>

    <label class="form-checkbox">
      <input name="population_scale" type="checkbox" <%= if @population_scale, do: "checked", else: "" %> />
      <span>Scale by Population</span>
    </label>
  </form>

  <div class="layout-controls">
    <button class="form-button" id="play" phx-hook="Play">Play</button>
    <input class="form-range" id="date-range" type="range" min="0" max="<%= @max_date_index %>" value="<%= @max_date_index %>" phx-hook="DateRange" data-dates="<%= @json_dates %>" />
    <span class="form-date" id="current-date"><%= List.last(@dates) %></span>
  </div>
</div>

<div class="layout-breakout">
  <div id="map" phx-hook="USAMap" phx-update="ignore" data-mapdata="<%= @map_data %>" data-label="<%= label_for(@series) %>" data-percent="<%= if @population_scale, do: "true", else: "" %>" data-zoom="<%= @zoom %>"></div>
</div>
