<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>U.S. State and County Coronavirus Stats Over Time</title>\
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/images/favicon-32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/images/favicon-16.png") %>">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <%= csrf_meta_tag() %>

    <meta name="description" content="Pairing daily data from The New York Times and Johns Hopkins CSSE, the visualizations herein track COVID-19 cases by U.S. state and county." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="U.S. State and County Coronavirus Stats Over Time" />
    <meta property="og:description" content="Pairing daily data from The New York Times and Johns Hopkins CSSE, the visualizations herein track COVID-19 cases by U.S. state and county." />
    <meta property="og:url" content="https://covid.envylabs.com/" />
    <meta property="og:site_name" content="Coronavirus Stats Over Time" />
    <meta property="og:image" content="<%= Routes.static_path(@conn, "/images/cover.png") %>" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Pairing daily data from The New York Times and Johns Hopkins CSSE, the visualizations herein track COVID-19 cases by U.S. state and county." />
    <meta name="twitter:title" content="U.S. State and County Coronavirus Stats Over Time" />
    <meta name="twitter:image" content="<%= Routes.static_path(@conn, "/images/cover-twitter.png") %>" />
  </head>
  <body>
    <main role="main" class="layout">
      <%= @inner_content %>
      <div class="layout-footer">
        <p>Prepared by <a href="https://envylabs.com">Envy Labs</a>. Map adapted from <a href="https://observablehq.com/@d3/bivariate-choropleth">Bivariate Choropleth</a> by&nbsp;<a href="https://observablehq.com/@mbostock">Mike&nbsp;Bostock</a>.
      </div>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>

